/* Responsive */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Responsive */

@media only screen and (max-width: 1450px) {}

/*  (max-width: 1450px) */

@media only screen and (max-width: 1260px) {}

/*  (max-width: 1260px) */

@media only screen and (max-width: 1199px) {
    .banar_left p {
        font-size: 20px;
        line-height: 60px;
    }

    .banar_left h1 {
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
    }

    .banar_left {
        margin: 0 auto;
        padding-right: 30px;
    }

    .unique_left {
        width: 387px;
        margin-bottom: 0;
    }

    .qunique_container {
        padding: 0 15px;
    }

    .unique_right {
        padding-left: 40px;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    h2.unique_line_title {
        margin-bottom: 20px;
    }

    .color_box {
        margin-right: -27px;
        padding: 14px 10px 14px 27px;
        margin-bottom: 38px;
    }

    h3.border_title {
        font-size: 24px;
        line-height: 44px;
        letter-spacing: 1.8744px;
        text-transform: uppercase;
    }

    a.blackBtn {
        padding: 18px 14px;
    }

    .unique_left:after {
        bottom: -60px;
        height: 98px;
    }

    span.line_title {
        bottom: -37px;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    section.art_design_area {
        padding: 152px 0 108px 0;
    }

    .art_title {
        margin: 0 auto 30px auto;
    }

    section.customize_frame_area {
        padding: 95px 0 60px;
    }

    section.ourdesigns_area {
        padding: 120px 0 55px;
    }

    .customize_center {
        order: -1;
        margin-bottom: 40px;
    }

    .customize_right {
        padding-left: 50px;
    }

    .customeProductShare {
        right: 5px;
    }

    .checkout_details {
        padding: 15px 30px;
    }

    .customeframe_box {
        max-width: 466px;
        margin: 0 auto;
    }

    section.discover_area {
        padding: 80px 0 50px;
    }

    .local_content h2 {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .local_content h2 br {
        display: none;
    }

    .local_content p {
        font-size: 16px;
    }

    a.learnmore {
        margin: 30px 0 0 0;
        font-weight: 700;
    }

    section.local_product_area {
        padding: 90px 0;
    }

    .artwork_cont_img {
        height: 100px;
        margin-bottom: 20px;
    }

    .footWidget_col {
        width: 25%;
        flex: unset;
        margin-bottom: 48px;
    }

    .col.footWidget_col.subscribeCol {
        width: 76%;
        order: -1;
    }

    .foot_logo a,
    .foot_logo p {
        display: none !important;
    }

    .tablet_only {
        display: block;
    }

    .col.footWidget_col.quickLinks,
    .col.footWidget_col.social_share {
        max-width: unset;
    }

    footer.footer_area {
        padding-top: 45px;
    }

    img.FootArt {
        left: -100px;
    }

    /* new css  */

    
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .discover_col p {
        font-size: 16px;
    }
    
    .qunique_container {
        padding: 0;
    }
    
    .unique_left:after {
        left: -20px;
        right: -20px;
        bottom: -60px;
    }

    img.Customizeart {
        right: 100%;
        left: auto;
        bottom: -370px;
        margin-right: -84px;
    }

    img.customize_Customizeart {
        left: 20%;
        top: 180px;
    }

    .local_img {
        width: 51%;
    }
    
    .local_row.row {
        margin: 0;
    }
    
    .local_content {
        width: 49%;
        padding-left: 36px;
    }
    
    .local_content h2 {
        font-size: 28px;
        line-height: 42px;
        font-weight: 400;
    }

    .section_title.artwrokSetting_title h2 {
        max-width: 600px;
        margin: 0 auto;
    }

    footer.footer_area {
        padding: 40px 0;
    }

    .tabletFootLogo {
        display: block;
        width: 100px;
        margin-top: 30px;
    }

    .foot_logo .footwidget {
        flex-direction: column;
    }

    .footwidget h3 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .subscribeCol .footwidget h3 {
        font-size: 24px;
        font-weight: 700;
    }

    .artdesignSlide {
        padding-bottom: 53px;
    }

    span.line_title {
        transform: translate(-50%, 50%);
    }

    .slick-active span.line_title {
        transform: translate(-50%, 0%);
    }

}

/* (max-width: 1199px) */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/*  (min-width: 768px) and (max-width: 991px) */

@media only screen and (max-width: 991px) {

    .size_col {
        width: 48%;
    }

    .customize_left_col {
        width: calc(100% - 360px);
    }
    
    .customize_right_col {
        width: 360px;
    }
    
    .cutomize_title {
        width: 345px;
    }

}

/*and (max-width: 991px)*/

@media only screen and (min-width: 426px) and (max-width: 767px) {}

/* (min-width: 426px) and (max-width: 767px) */

@media only screen and (min-width: 768px) {
    .mobile_only {
        display: none !important;
    }
}

/* min-width: 768px */

@media only screen and (max-width: 767px) {

    .cutomize_title {
        margin-bottom: 20px !important;
    }

    .cutomize_title {
        width: 100%;
        margin: 0;
    }
    
    .customize_left_col {
        width: 100%;
    }
    
    .customize_right_col {
        max-width: 400px;
        margin: 0;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tabletFootLogo {
        display: none;
    }

    .mobile_none {
        display: none !important;
    }

    .banarContainer {
        flex-direction: column;
    }

    .banar_left {
        padding: 20px 0;
    }

    .banar_left p {
        font-size: 16px;
        line-height: 24px;
    }

    .banar_left h1 {
        font-size: 28px;
        line-height: 44px;
        margin: 0;
    }

    .banar_right {
        margin-bottom: 30px;
    }

    .qunique_container {
        flex-direction: column-reverse;
        padding: 0 0px;
        align-items: center;
    }

    .unique_right {
        padding: 0;
    }

    .unique_right_content {
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
    }

    .qunique_container a.blackBtn.mobile_only {
        order: -1;
    }

    .color_box {
        margin-right: 0;
        margin-bottom: 30px;
        padding: 15px 35px 15px 15px ;
    }

    .unique_left {
        margin: 0 auto 100px auto;
        width: 100%;
    }

    section.uniqueart_design {
        padding: 50px 0 45px 0;
    }

    section.art_design_area {
        padding: 70px 0;
    }

    section.customize_frame_area {
        padding: 90px 0 90px;
    }

    ul.customeFrame_tabs.nav.nav-tabs {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav-tabs .nav-link {
        width: 175px;
        text-align: center;
    }

    ul.customeFrame_tabs.nav.nav-tabs li:not(:last-child) {
        margin-bottom: 10px;
    }

    img.customize_Customizeart {
        left: 57%;
        transform: translate(-50%);
    }

    .local_img {
        margin-bottom: 20px;
    }

    .local_content {
        padding-left: 37px;
    }

    .local_row.row> div {
        width: 100%;
        padding: 0 !important;
    }

    a.learnmore {
        margin: 30px auto 0 auto;
    }

    .artwork_cont {
        max-width: 555px;
    }

    .col.footWidget_col.subscribeCol {
        order: -3;
    }

    .footWidget_col {
        width: 100%;
    }

    footer.footer_area {
        /* padding-left: 12px; */
        /* padding-right: 12px; */
    }

    .foot_logo img.tablet_only {
        display: none;
    }

    .foot_logo a,
    .foot_logo p {
        display: block !important;
    }

    .nav_left {
        flex-grow: 1;
    }

    .navBrand {
        margin: 0;
    }

    ul.menulist li a {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    .navmenucontainer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav_right.mobile_only {
        margin-top: 50px;
    }

    .nav_right.mobile_only .nav_search {
        margin: 0;
    }

    .copyright_tablet.text-center.tablet_only {
        text-align: left !important;
        font-size: 15px;
        margin: 0 -12px;
    }

    .col.footWidget_col.foot_logo {
        order: -2;
        margin-bottom: 30px;
    }

    .col.footWidget_col.social_share {
        order: -1;
    }

    .foot_logo img {
        margin: 0 auto;
    }

    .col.footWidget_col.social_share h3 {
        display: none;
    }

    .social_share ul {
        display: flex;
        justify-content: center;
        max-width: 230px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footwidget ul li a img {
        margin: 0;
        width: auto;
        height: 23px;
    }

    .social_share ul li a {
        font-size: 0;
        margin: 0 !important;
    }

    .footWidget_col {
        margin-bottom: 30px;
    }

    .col.footWidget_col.quickLinks {
        width: 50%;
    }

    .col.footWidget_col.subscribeCol {
        width: 100%;
        margin-bottom: 50px;
    }


    .customize_right {
        padding-left: 12px;
    }

    .checkout_details {
        display: none;
    }

    .customeProductShare {
        right: 25px;
        top: auto;
        bottom: 40px;
    }

    .custome_frame_checkout {
        margin-top: 30px;
    }

    .addtoCart {
        border-bottom: 0;
    }

    section.customize_frame_area {
        padding: 90px 0 40px;
    }

    section.ourdesigns_area {
        padding: 70px 0 0px;
    }

    .foot_logo img {
        width: 244px;
    }

    .nav_right>div {
        margin-left: 0;
        margin-right: 15px;
    }

    h3.border_title {
        display: inline-block;
    }
    
    h3.border_title:after {
        left: 50%;
        margin-left: -44px;
    }

    .art_title h2 br {
        display: none;
    }

    img.Customizeart {
        display: none;
    }
    
    img.customize_Customizeart {
        left: 80%;
        width: 175%;
        max-width: unset;
        top: 9%;
    }

    .select_option.dropdown .btn {
        text-align: center;
    }
    
    .select_option.dropdown .btn img {
        position: absolute;
        right: 10px;
    }

    .ourdesigns_area .section_title h2 span {
        display: block;
    }

    section.local_product_area {
        padding: 75px 0 60px;
    }

    .artwork_cont p {
        display: none;
    }
    
    .artwork_cont_img {
        height: 60px;
    }
    
    .artwork_cont img {
        height: 100%;
    }
    
    .artwork_cont h5 {
        font-weight: 400;
        font-size: 9.01024px;
    }
    
    .row.artwrokSetting_row> div {
        padding: 0;
        margin: 0;
    }
    
    section.artwrokSetting {
        padding: 57px 0 50px;
    }

    .navmenucontainer {
        padding: 15px 30px 30px 30px;
        max-height: 100vh;
        overflow: auto;
    }
    
    .mobile_navBrand {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .navmenucontainer {
        display: block;
    }
    
    ul.menulist {
        text-align: left;
    }
    
    ul.menulist li a {
        font-size: 14px;
        margin: 0;
        display: inline-block;
        line-height: 1;
        padding: 15px 0;
    }
    
    .menuSubscrib {
        text-align: left;
        margin: 30px 0 0 0px;
    }
    
    .menuSubscrib p {
        margin: 0 0 20px 0;
    }
    
    .menuSocial ul {
        text-align: left;
        margin-top: 60px;
    }
    
    .menuSocial ul li {
        display: inline-block;
        margin-right: 15px;
    }
    
    ul.menulist li a:hover {
        text-decoration: underline;
    }
    
    .menuSubscrib h3 {
        margin-bottom: 20px;
    }

}

/* (max-width: 767px) */

@media only screen and (min-width: 320px) and (max-width: 425px) {}

/*  (min-width: 320px) and (max-width: 425px) */

@media only screen and (max-width: 480px) {
    .navBrand img {
        width: 90px;
    }
}

/* (max-width: 480px) */

@media only screen and (max-width: 360px) {}

/* (max-width: 360px)  */